@import url(../../assets/global.css);

.button {
  font-family: var(--ff-button);
  font-size: var(--fs-button);
  line-height: calc(var(--fs-button) + 0.5rem);
  width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.button[data-style] a {
  color: var(--clr-white);
  text-decoration: none;
}

.button[data-style="primary"] {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  text-transform: uppercase;
}

.button[data-style="secondary"] {
  border: 2px solid var(--clr-white);
  background: none;
}
