@import url(../../assets/global.css);

.works {
  padding-block: calc(var(--padding-block-hero) / 2);
  background-color: var(--bg-secondary);
  color: var(--clr-black);
  text-align: center;
}

.works > ul {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 0;
  grid-row-gap: 0;
}

@media (min-width: 70em) {
  .works > ul {
    width: min(var(--max-width), 100% - (var(--container-padding)));
    margin-inline: auto;
  }
}
