:root {
  /* Colors */
  --clr-primary: #ff6d54;
  --clr-secondary: #383953;
  --clr-grey: #FAFAFA;
  --clr-white: #ffffff;
  --clr-black: #000000;

  /* Background */
  --bg-primary: var(--clr-secondary);
  --bg-secondary: var(--clr-grey);

  /* Fonts */
  --ff-primary: "Teko", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  --ff-headings: var(--ff-primary);
  --ff-body: var(--ff-secondary);
  --ff-button: var(--ff-primary);

  /* Size */
  --h1-size: 4.5rem;
  --h2-size: 4rem;
  --h3-size: 3rem;
  --h4-size: 2rem;

  --fs-body: 1rem;
  --fs-button: 1.5rem;

  /* Max width container and padding left and right */
  --max-width: 1140px;
  --container-padding: 2rem;

  /* Section padding top and bottom */
  --padding-block-hero: 14rem;
  --padding-block-section: 7.5rem;

  /* Space between elements */
  --flow-primary: 1rem;
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: var(--h1-size);
  line-height: calc(var(--h1-size) + 0.5rem);
}

h2 {
  font-size: var(--h2-size);
  line-height: calc(var(--h1-size) + 0.5rem);
}

h3 {
  font-size: var(--h3-size);
  line-height: calc(var(--h1-size) + 0.5rem);
}

p[data-width="wide"] {
  max-width: 56ch;
  margin-inline: auto;
}

p[data-width="small"] {
  max-width: 24ch;
}

button + button {
  margin-left: 1rem;
}

/* Utility classes */

@media (min-width: 70em) {
  .container {
    width: min(var(--max-width), 100% - (var(--container-padding)));
    margin-inline: auto;
  }
}

.flow :not(:first-child) {
  margin-top: var(--flow-primary);
}
